/node_modules
.env
.DS_Store
dist
coverage
*.log
*.tsbuildinfo
*.tgz
*.zip
*.bak
*.swp
*.swo
*.tmp
*.temp
*.pid
*.seed
*.pid.lock
*.seed.lock
*.lock
*.lockfile
*.cache
*.eslintcache
*.prettiercache
*.yarn-integrity
*.yarnclean
*.yarn-metadata.json
*.yarnrc
*.yarnrc.yml
*.yarn.lock
*.npmrc

/.next

.env
.env.local
.env.development

.DS_Store